<!--
  Generated template for the AuctioninprogressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-row class="header-row">
    <ion-row class="header-title">
      <ion-col col-1>
        <ion-icon name="ios-arrow-back" (click)="navCtrl.pop()"></ion-icon>
      </ion-col>
      <span>
        Auction In Progress
      </span>
      <ion-col col-1 (click)="goExtendAuction()">
        <div class="right-icon">
          <!-- time icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
            <g id="Group_939" data-name="Group 939" transform="translate(-331 -47)">
              <g id="Icon-28_placeholder" transform="translate(-134 -844)">
                <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28" transform="translate(465 891)"
                  fill="none" />
              </g>
              <g id="Group_928" data-name="Group 928" transform="translate(213.72 -309.706)">
                <path id="Path_140" data-name="Path 140" d="M135.9,359.706a11.5,11.5,0,1,1-11.5,11.5"
                  transform="translate(-3.716)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10"
                  stroke-width="1.5" />
                <path id="Path_141" data-name="Path 141" d="M124.4,371.205a11.5,11.5,0,0,1,11.5-11.5"
                  transform="translate(-3.716)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10"
                  stroke-width="1.5" stroke-dasharray="1 5" />
                <path id="Path_142" data-name="Path 142" d="M153.4,373.34v6.14h6.151"
                  transform="translate(-22.315 -8.275)" fill="none" stroke="#fff" stroke-linecap="round"
                  stroke-miterlimit="10" stroke-width="1.5" />
                <path id="Path_143" data-name="Path 143" d="M118.28,391.366l2.407-2.407,2.407,2.407"
                  transform="translate(0 -18.754)" fill="none" stroke="#fff" stroke-linecap="round"
                  stroke-miterlimit="10" stroke-width="1.5" />
              </g>
            </g>
          </svg>
        </div>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row class="header-detail-wrap">
    <ion-row class="header-detail" *ngFor="let detail of showHeaderDtail">
      <ion-col col-6>
        <ion-label class="header-detail-title">{{detail[0].title}}</ion-label>
        <ion-label class="header-detail-des">
          {{detail[0].des}}</ion-label>

      </ion-col>
      <ion-col col-6>
        <ion-label class="header-detail-title">{{detail[1].title}}</ion-label>
        <ion-label class="header-detail-des">
          {{detail[1].des}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row class="header-item" (click)="goInvitedSuppliers()">
    <ion-label>Invited Suppliers</ion-label>
    <ion-icon name="ios-arrow-forward"></ion-icon>
  </ion-row>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let auction of auctions;let index=index">
    <ion-row class="title-edit">
      <span (click)="goInprogressDetail(index)">{{auction.title}} {{index+1}}</span>
      <ion-icon (click)="setExpandIndex(index)" [name]="index!=expandIndex?'ios-arrow-down':'ios-arrow-up'"></ion-icon>
    </ion-row>
    <p class="location-detail">{{auction.loc}}</p>

    <ion-row class="detail-block first">
      <ion-col col-5>
        <span class="detail-title" no-padding>Rate per kWh</span><br>
        <span class="rate-des" no-padding>{{auction.rate}}¢</span>
      </ion-col>
      <ion-col col-5>
        <span class="detail-title" no-padding>Est.Savings/Month</span><br>
        <span class="fee-des" no-padding>${{auction.fee}}</span>
        <img [src]="auction.supplier">
      </ion-col>
      <ion-icon *ngIf="expandIndex==index" name="ios-arrow-forward"></ion-icon>
    </ion-row>
    <!-- other bids -->
    <div *ngIf="expandIndex==index">
      <ion-label class="other-bids-label">Other bids</ion-label>
      <ion-row *ngFor="let other of auction.others" class="detail-block">
        <ion-col col-5>
          <span class="detail-title" no-padding>Rate per kWh</span><br>
          <span class="rate-des" no-padding>{{other.rate}}¢</span>
        </ion-col>
        <ion-col col-5>
          <span class="detail-title" no-padding>Est.Savings/Month</span><br>
          <span class="fee-des" no-padding>${{other.fee}}</span>
          <img [src]="other.supplier">
        </ion-col>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-row>
    </div>

  </ion-card>
</ion-content>