page-securitysetting {
    ion-content {
        background: white !important;
        color: #43535F;
        font-family: Montserrat-Bold;
        font-size: 12px;
        .go-arrow {
            padding: 15px;
            justify-content: space-between;
            align-items: center;
            ion-icon {
                color: #B5BEC5;
                font-size: 19px;
                font-weight: 800;
                margin-right: 0;
            }
            border-bottom: 1px solid #E5E9EC;
            border-top: 1px solid #E5E9EC;
        }
        .e-signature {
            padding: 15px;
            span.drawing-active {
                color: #A3ADB7;
                font-size: 10px;
                font-family: Montserrat-Medium;
            }
            .sig-panel {
                margin-left: -15px;
                margin-top: 15px;
            }
            .clear-span {
                text-align: right;
                color: #1EB8E3;
                font-family: Montserrat-Medium;
                font-size: 12px;
                margin-bottom: 0px;
            }
        }
        .sig-initial {
            padding: 15px;
            p {
                font-size: 16;
                font-family: Montserrat-Medium;
                margin-bottom: 0;
            }
        }
        .toggle-box {
            padding: 15px;
            padding-top: 0;
            ion-row {
                margin-top: 15px;
                align-items: center;
                span {
                    font-size: 12px;
                    font-family: Montserrat-Medium;
                    padding-left: 15px;
                }
            }
        }
    }
    ion-header {
        .right-icon {
            color: white;
            font-size: 12px;
            font-family: Montserrat-Medium;
            position: absolute;
            right: 20px;
        }
    }
}