page-billinginfo {
    ion-header {
        .right-icon {
            color: white;
            font-size: 12px;
            font-family: Montserrat-Medium;
            position: absolute;
            right: 20px;
        }
    }
    ion-content {
        background: white!important;
        .visa-icon {
            position: absolute;
            right: 20px;
        }
        .cvv {
            padding-left: 10px;
        }
    }

}
