page-billingdetail {
    .header-detail {
        .invoice {
            color: #1EB8E3 !important;
        }
        .big {
            font-family: Montserrat-Medium !important;
            font-size: 42px !important;
        }
        .top {
            padding-top: 10px;
        }
    }
    ion-content {
        background: #E9EBED !important;
        ion-card {
            .top-row {
                align-items: center;
                justify-content: space-between;
                .item-des {
                    .loc-row {
                        color: #43535F;
                        font-size: 12px;
                        font-family: Montserrat-Medium;
                    }
                   
                }
                ion-icon {
                    color: #1EB8E3;
                    margin: auto;
                    font-weight: bold;
                    font-size: 30px;
                }
             
            }
            .detail-block {
                border: 1px solid #E5E9EC;
                padding: 5px 10px 10px 10px;
                .detail-title {
                    font-size: 10px;
                    font-family: Montserrat-SemiBold;
                    color: #A3ADB7;
                }
                .detail-des {
                    font-size: 12px;
                    color: #43535F;
                    font-family: Montserrat-Bold
                }
               
            }
            .under-detail {
                padding: 5px 10px 10px 10px;
                .detail-title {
                    font-size: 10px;
                    font-family: Montserrat-SemiBold;
                    color: #A3ADB7;
                }
                .detail-des {
                    font-size: 18px;
                    color: #43535F;
                    font-family: Montserrat-Bold
                }
                .detail-des.amount {
                    color: #1EB8E3!important;
                }

            }
        }
        .card-ios .detail-block {
            border-radius: 10px;
        }
        .pay-des {
            text-align: center;
            font-size: 12px;
            font-family: Montserrat-Medium;
            color: #A3ADB7;
        }
      
    }
}