page-billingdetail {
    .header-detail {
        .invoice {
            color: #1EB8E3 !important;
        }
        .big {
            font-family: Montserrat-Medium !important;
            font-size: 42px !important;
        }
        .top {
            padding-top: 10px;
        }
    }
}