page-trainingvideos {
    ion-content {
        background: #E9EBED !important;
        .wrap-video {
            width: 100%;
            height: 100%;
            position: relative;
            svg {
                position: absolute;
                left: 15px;
                top: 20px;
                z-index: 100;
            }
            video {
                width: 100%;
                height: 100%;
            }
        }
        ion-card {
            .bottom-row {
                padding: 10px;
                .top-des {
                    color: #43535F;
                    font-size: 12px;
                    font-family: Montserrat-Bold;
                }
                .dur {
                    color: #A3ADB7;
                    font-size: 12px;
                    font-family: Montserrat-Medium;
                }
                .play-btn {
                    margin: auto;
                }
            }
        }
    }
}