page-sampleutilitybills {
    ion-content {
        background: white !important;

        .wrap-support {
            border: solid 2px #E5E9EC;
            border-radius: 10px;
            width: 153px;
            height: 141px;
            text-align: center;

            svg {
                margin-top: 20px;
            }

            p {
                font: 16px Montserrat-Medium;
                color: #43535F
            }
        }

        .wrap-support.checked {
            border-color: #19264D;
            position: relative;

            .check {
                position: absolute;
                right: 9px;
                top: 0px;
            }
        }

        .sub-title {
            color: #43535F !important;
            font: 12px Montserrat-Bold !important;
            padding-left: 20px;
        }

        .zipcode {
            width: 100%;
            margin-left: 20px;
            border-bottom: 1px solid #E5E9EC;

            input {
                text-align: center;
                font-size: 66px;
                font-family: 'Lucida Sans Regular';
                color: #43535F;
            }
        }

        .utility-select {
            padding-left: 20px;
            padding-right: 20px;
            color: #B5BEC5;

            ion-label {
                font: 16px Montserrat-Medium;
                color: #43535F;
            }
        }

        .bottom-btn {
            background: #E9EBED;
            width: 100%;
            padding: 15px;
            padding-top: 0;
        }
    }

}