<!--
  Generated template for the NewentityexistingcontractPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-row class="header-row">
    <ion-row class="header-title">
      <ion-col col-1>
        <ion-icon name="ios-arrow-back" (click)="navCtrl.pop()"></ion-icon>
      </ion-col>
      <span>
        Add Existing Contract
      </span>
      <ion-col col-1>
      </ion-col>
    </ion-row>


    <ion-row class="header-tab">
      <mat-tab-group (selectedTabChange)="tabClick($event)">
        <mat-tab class="contracts-tab">
          <ng-template mat-tab-label>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <g id="Group_1011" data-name="Group 1011" transform="translate(-931 -1992)">
                <g id="Icon-28_placeholder" transform="translate(466 1101)">
                  <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28"
                    transform="translate(465 891)" fill="none" />
                </g>
                <g id="Group_679" data-name="Group 679" transform="translate(936.592 1994.565)">
                  <path id="Path_9" data-name="Path 9"
                    d="M16.536,14.984C16.725,9.516,11.643,2.867,7.678.011A.4.4,0,0,0,7.225,0a.409.409,0,0,0-.181.417c.265,1.292-.175,3.717-3.916,7.858C.579,11.1-.182,13.566.035,15.6c1.04,9.991,16.2,8.372,16.5-.611Z"
                    transform="translate(0 0)" fill="#2f5597" fill-rule="evenodd" />
                  <path id="Path_10" data-name="Path 10"
                    d="M51.187,127c.189-3.011-1.872-6.544-4.031-8.837a1.235,1.235,0,0,0-1.062-.39,1.071,1.071,0,0,0-.873.634,17.579,17.579,0,0,1-2.85,3.979c-1.76,1.937-2.312,3.638-2.215,5.025.5,6.879,10.654,5.763,11.031-.411Z"
                    transform="translate(-37.348 -109.683)" fill="#1eb8e3" fill-rule="evenodd" />
                  <path id="Path_11" data-name="Path 11"
                    d="M71.289,207.028a3.3,3.3,0,0,1-2.725-4.774c.788-1.854,2.307-2.453,3.059-3.861a.2.2,0,0,1,.369.049c.251,1.247.746,1.422,1.192,2.718a.186.186,0,0,0,.181.132.2.2,0,0,0,.188-.125,6.262,6.262,0,0,0,.383-1.554.2.2,0,0,1,.16-.181.211.211,0,0,1,.216.1c1.659,3.38,1.241,6.92-3.025,7.492Z"
                    transform="translate(-63.471 -184.596)" fill="#fff" fill-rule="evenodd" />
                </g>
              </g>
            </svg>
          </ng-template>
        </mat-tab>
        <mat-tab class="alert-tab">
          <ng-template mat-tab-label>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <g id="Group_686" data-name="Group 686" transform="translate(-917 -1945)">
                <g id="Icon-28_placeholder" transform="translate(452 1054)">
                  <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28"
                    transform="translate(465 891)" fill="none" />
                </g>
                <g id="Group_683" data-name="Group 683" transform="translate(925.023 1947.012)">
                  <path id="Path_12" data-name="Path 12"
                    d="M2.3,24.485,12.5,11.458a.64.64,0,0,0,.074-.684A.61.61,0,0,0,12,10.409H9.467a.6.6,0,0,1-.494-.251A.655.655,0,0,1,8.854,9.6L11.06.529a.439.439,0,0,0-.221-.494.4.4,0,0,0-.509.114L.119,13.183a.657.657,0,0,0-.081.684.61.61,0,0,0,.568.365H3.137a.6.6,0,0,1,.494.251.649.649,0,0,1,.118.555L1.565,24.1a.435.435,0,0,0,.221.494.4.4,0,0,0,.509-.114Z"
                    transform="translate(0 0)" fill="#ffb300" fill-rule="evenodd" />
                  <path id="Path_13" data-name="Path 13"
                    d="M35.164.3,29.707,10.7a1.311,1.311,0,0,0,.022,1.277,1.208,1.208,0,0,0,1.077.631h2.08a.392.392,0,0,1,.361.22.448.448,0,0,1-.007.441L26.3,24.925a.4.4,0,0,0,.376-.16l10.2-13.027a.641.641,0,0,0,.074-.684.61.61,0,0,0-.568-.365H33.844a.6.6,0,0,1-.494-.251.655.655,0,0,1-.118-.555L35.437.817a.439.439,0,0,0-.221-.494A.354.354,0,0,0,35.164.3Z"
                    transform="translate(-24.376 -0.288)" fill="#fc8f3b" fill-rule="evenodd" />
                </g>
              </g>
            </svg>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ion-row>
  </ion-row>
</ion-header>


<ion-content padding>
  <div class="inputbox-wrap">
    <div *ngIf="gs.isIosPlatform">
      <ion-row class="input-box">
        <ion-row class="input-email">
          <ion-col col-4>
            <ion-label>Number</ion-label>
          </ion-col>
          <ion-col col-8>
            <ion-input type="text" placeholder="TX0000345690-00" [(ngModel)]="contractname"
              (ionChange)="contractnameChange()"></ion-input>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <g id="Group_1023" data-name="Group 1023" transform="translate(-279 -108)">
                <g id="Group_1022" data-name="Group 1022" transform="translate(-16 -4)">
                  <g id="Ellipse_24" data-name="Ellipse 24" transform="translate(300 117)" fill="#fff" stroke="#a3adb7"
                    stroke-linecap="round" stroke-width="1.5">
                    <circle cx="8" cy="8" r="8" stroke="none" />
                    <circle cx="8" cy="8" r="7.25" fill="none" />
                  </g>
                  <line id="Line_60" data-name="Line 60" x2="5" y2="5" transform="translate(313.5 130.5)" fill="none"
                    stroke="#a3adb7" stroke-linecap="round" stroke-width="1.5" />
                </g>
                <g id="Icon-28_placeholder" transform="translate(-186 -783)">
                  <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28"
                    transform="translate(465 891)" fill="none" />
                </g>
              </g>
            </svg>
          </ion-col>
        </ion-row>
      </ion-row>
    </div>

    <div *ngIf="!gs.isIosPlatform">
      <ion-row class="input-box">
        <ion-row [ngClass]="isFocusDes?'input-email active':'input-email'">
          <ion-col col-12>
            <ion-input type="text" placeholder="TX0000345690-00" [(ngModel)]="contractname" (ionFocus)='isFocus()'
              (ionChange)="contractnameChange()" (ionBlur)='isBlur()'></ion-input>
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <g id="Group_1023" data-name="Group 1023" transform="translate(-279 -108)">
                <g id="Group_1022" data-name="Group 1022" transform="translate(-16 -4)">
                  <g id="Ellipse_24" data-name="Ellipse 24" transform="translate(300 117)" fill="#E9EBED"
                    stroke="#a3adb7" stroke-linecap="round" stroke-width="1.5">
                    <circle cx="8" cy="8" r="8" stroke="none" />
                    <circle cx="8" cy="8" r="7.25" fill="none" />
                  </g>
                  <line id="Line_60" data-name="Line 60" x2="5" y2="5" transform="translate(313.5 130.5)" fill="none"
                    stroke="#a3adb7" stroke-linecap="round" stroke-width="1.5" />
                </g>
                <g id="Icon-28_placeholder" transform="translate(-186 -783)">
                  <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28"
                    transform="translate(465 891)" fill="none" />
                </g>
              </g>
            </svg>

          </ion-col>
        </ion-row>
      </ion-row>
    </div>
  </div>
  <ion-label class="contacts-found">3 contracts found</ion-label>

  <div *ngFor="let detail of locationDetails;let index=index">
    <ion-card *ngIf="isGas&&detail.kind=='gas'||!isGas&&detail.kind=='electron'">
      <ion-row class="title-edit">
        <span>{{detail.title}} {{index+1}}</span>
        <svg *ngIf="detail.kind=='gas'" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
          <g id="Group_1011" data-name="Group 1011" transform="translate(-931 -1992)">
            <g id="Icon-28_placeholder" transform="translate(466 1101)">
              <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28" transform="translate(465 891)"
                fill="none" />
            </g>
            <g id="Group_679" data-name="Group 679" transform="translate(936.592 1994.565)">
              <path id="Path_9" data-name="Path 9"
                d="M16.536,14.984C16.725,9.516,11.643,2.867,7.678.011A.4.4,0,0,0,7.225,0a.409.409,0,0,0-.181.417c.265,1.292-.175,3.717-3.916,7.858C.579,11.1-.182,13.566.035,15.6c1.04,9.991,16.2,8.372,16.5-.611Z"
                transform="translate(0 0)" fill="#2f5597" fill-rule="evenodd" />
              <path id="Path_10" data-name="Path 10"
                d="M51.187,127c.189-3.011-1.872-6.544-4.031-8.837a1.235,1.235,0,0,0-1.062-.39,1.071,1.071,0,0,0-.873.634,17.579,17.579,0,0,1-2.85,3.979c-1.76,1.937-2.312,3.638-2.215,5.025.5,6.879,10.654,5.763,11.031-.411Z"
                transform="translate(-37.348 -109.683)" fill="#1eb8e3" fill-rule="evenodd" />
              <path id="Path_11" data-name="Path 11"
                d="M71.289,207.028a3.3,3.3,0,0,1-2.725-4.774c.788-1.854,2.307-2.453,3.059-3.861a.2.2,0,0,1,.369.049c.251,1.247.746,1.422,1.192,2.718a.186.186,0,0,0,.181.132.2.2,0,0,0,.188-.125,6.262,6.262,0,0,0,.383-1.554.2.2,0,0,1,.16-.181.211.211,0,0,1,.216.1c1.659,3.38,1.241,6.92-3.025,7.492Z"
                transform="translate(-63.471 -184.596)" fill="#fff" fill-rule="evenodd" />
            </g>
          </g>
        </svg>
        <svg *ngIf="detail.kind=='electron'" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
          viewBox="0 0 28 28">
          <g id="Group_686" data-name="Group 686" transform="translate(-917 -1945)">
            <g id="Icon-28_placeholder" transform="translate(452 1054)">
              <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28" transform="translate(465 891)"
                fill="none" />
            </g>
            <g id="Group_683" data-name="Group 683" transform="translate(925.023 1947.012)">
              <path id="Path_12" data-name="Path 12"
                d="M2.3,24.485,12.5,11.458a.64.64,0,0,0,.074-.684A.61.61,0,0,0,12,10.409H9.467a.6.6,0,0,1-.494-.251A.655.655,0,0,1,8.854,9.6L11.06.529a.439.439,0,0,0-.221-.494.4.4,0,0,0-.509.114L.119,13.183a.657.657,0,0,0-.081.684.61.61,0,0,0,.568.365H3.137a.6.6,0,0,1,.494.251.649.649,0,0,1,.118.555L1.565,24.1a.435.435,0,0,0,.221.494.4.4,0,0,0,.509-.114Z"
                transform="translate(0 0)" fill="#ffb300" fill-rule="evenodd" />
              <path id="Path_13" data-name="Path 13"
                d="M35.164.3,29.707,10.7a1.311,1.311,0,0,0,.022,1.277,1.208,1.208,0,0,0,1.077.631h2.08a.392.392,0,0,1,.361.22.448.448,0,0,1-.007.441L26.3,24.925a.4.4,0,0,0,.376-.16l10.2-13.027a.641.641,0,0,0,.074-.684.61.61,0,0,0-.568-.365H33.844a.6.6,0,0,1-.494-.251.655.655,0,0,1-.118-.555L35.437.817a.439.439,0,0,0-.221-.494A.354.354,0,0,0,35.164.3Z"
                transform="translate(-24.376 -0.288)" fill="#fc8f3b" fill-rule="evenodd" />
            </g>
          </g>
        </svg>
      </ion-row>
      <p class="location-detail">{{detail.loc}}</p>

      <ion-row class="detail-block">
        <ion-col col-7>
          <span class="detail-title" no-padding>Contract number</span><br>
          <span
            [ngClass]="detail.contractnumber.substring(0,letterIndex).includes(contractname)?'detail-des':'detail-des matched-contract-number'"
            *ngFor="let letter of detail.contractnumber.split('');let letterIndex=index" no-padding>{{letter}}</span>
        </ion-col>
        <ion-col col-5>
          <span class="detail-title" no-padding>type</span><br>
          <span class="detail-des" no-padding>{{detail.type}}</span>
        </ion-col>
        <ion-col col-7>
          <span class="detail-title" no-padding>Term</span><br>
          <span class="detail-des" no-padding>{{detail.term}}</span>
        </ion-col>
        <ion-col col-5>
          <span class="detail-title" no-padding>Status</span><br>
          <span class="detail-des" no-padding>{{detail.status}}</span>
        </ion-col>
      </ion-row>
      <button ion-button class="normal-button" *ngIf="detail.kind=='gas'" color=primary>Add</button>
      <button ion-button class="normal-button" *ngIf="detail.kind=='electron'" color=secondary>Add</button>
    </ion-card>
  </div>
</ion-content>