page-emailsupport {
    ion-content {
        .input-box {
            margin-top: 0px !important;
        }
        .input-box.input-des {
            margin-top: 15px !important;
            height: 270px;
            ion-textarea {
                font-family: Montserrat-Medium;
                font-size: 16px;
                padding-left: 25px;
                textarea {
                    height: 250px;
                }
            }
        }
    }
    .content-md {
        .active {
            border-bottom: 1px solid #1EB8E3!important;
        }
        .input-box {
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            color: white;
        }
        .input-box.input-des {
            border-radius: 0px !important;
            ion-textarea {
                font-family: Montserrat-Medium;
                font-size: 16px;
                padding-left: 0px !important;
            }
        }
    }
}