page-termsandconditions {
    ion-content {
        background-color: white !important;
     
        .agree-btn {
            background: #E9EBED;
            width: 100%;
            padding: 15px;
            padding-top: 0;
        }
    }
}