page-profileedit {
    ion-content {
        background: white!important;
    }
    ion-header {
        .right-icon {
            color: white;
            font-size: 12px;
            font-family: Montserrat-Medium;
            position: absolute;
            right: 20px;
        }
    }

}
