<!--
  Generated template for the EntitiesdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- menus -->

<div class="menus">
  <!-- filter Menu start -->
  <ion-menu side="right" type="overlay" swipeEnabled=false [content]="mycontent" id="filter" (ionClose)="mainMenuClosed()">
    <ion-header>
      <ion-row class="header-row">
        <ion-row class="header-title">
          <ion-col col-1>
          </ion-col>
          <span>
            Filter
          </span>
          <ion-col col-1 (click)="closeMenu()">
            <div class="right-icon">
              Done
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-header>

    <ion-content>
      <div class="question-row" *ngFor="let menu of menus;let index=index" (click)="openMenu(menu.menuid)">
        <p class="que-title">{{menu.menutitle}}</p>
        <p [ngClass]="menu.selecteddetailitem!=-1?'que-des checked':'que-des'">{{menu.subtitle}}</p>

      </div>
    </ion-content>
  </ion-menu>
  <!-- filter Menu end -->
  <!-- status Menu start-->
  <ion-menu side="right" type="overlay" swipeEnabled=false [content]="mycontent" id="status">
    <ion-header>
      <ion-row class="header-row">
        <ion-row class="header-title">
          <ion-col col-1 (click)="closeSelectedMenu()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-col>
          <span class="other-menu">
            Status
          </span>
          <ion-col col-1 (click)="closeMenu()">
            <div class="right-icon">
              Done
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-header>

    <ion-content>
      <ion-row class="answer-row" *ngFor="let statu of menus[0].items;let index=index" (click)="selectAnswerItem(0,index)">
        <ion-col col-10>
          <p [ngClass]="index==menus[0].selecteddetailitem?'que-title checked':'que-title'">{{statu}}</p>
        </ion-col>
        <ion-col col-2>
          <ion-row *ngIf="index==menus[0].selecteddetailitem" class="check-row">
            <ion-icon name="ios-checkmark"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-menu>
  <!-- status Menu end-->
  <!-- utility Menu start-->
  <ion-menu side="right" type="overlay" swipeEnabled=false [content]="mycontent" id="utility">
    <ion-header>
      <ion-row class="header-row">
        <ion-row class="header-title">
          <ion-col col-1 (click)="closeSelectedMenu()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-col>
          <span class="other-menu">
            Status
          </span>
          <ion-col col-1 (click)="closeMenu()">
            <div class="right-icon">
              Done
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-header>

    <ion-content>
      <ion-row class="answer-row" *ngFor="let util of menus[1].items;let index=index" (click)="selectAnswerItem(1,index)">
        <ion-col col-10>
          <p [ngClass]="index==menus[1].selecteddetailitem?'que-title checked':'que-title'">{{util}}</p>
        </ion-col>
        <ion-col col-2>
          <ion-row *ngIf="index==menus[1].selecteddetailitem" class="check-row">
            <ion-icon name="ios-checkmark"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-menu>
  <!-- utility Menu end-->
  <!-- state Menu start-->
  <ion-menu side="right" type="overlay" swipeEnabled=false [content]="mycontent" id="state">
    <ion-header>
      <ion-row class="header-row">
        <ion-row class="header-title">
          <ion-col col-1 (click)="closeSelectedMenu()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-col>
          <span class="other-menu">
            Status
          </span>
          <ion-col col-1 (click)="closeMenu()">
            <div class="right-icon">
              Done
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-header>

    <ion-content>
      <ion-row class="answer-row" *ngFor="let capital of menus[2].items;let index=index" (click)="selectAnswerItem(2,index)">
        <ion-col col-10>
          <p [ngClass]="index==menus[2].selecteddetailitem?'que-title checked':'que-title'">{{capital.state}}</p>
        </ion-col>
        <ion-col col-2>
          <ion-row *ngIf="index==menus[2].selecteddetailitem" class="check-row">
            <ion-icon name="ios-checkmark"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-menu>
  <!-- state Menu end-->
  <!-- daterange Menu start-->
  <ion-menu side="right" type="overlay" swipeEnabled=false [content]="mycontent" id="daterange">
    <ion-header>
      <ion-row class="header-row">
        <ion-row class="header-title">
          <ion-col col-1 (click)="closeSelectedMenu()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-col>
          <span class="other-menu">
            Date Range
          </span>
          <ion-col col-1 (click)="closeMenu()">
            <div class="right-icon">
              Done
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
      <ion-row class="header-date">
        {{menus[3].subtitle}}
      </ion-row>
    </ion-header>

    <ion-content>
      <ion-calendar [(ngModel)]="menus[3].items[0]" [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'"
        (onChange)="onChangeCalendar($event,3)">
      </ion-calendar>
    </ion-content>
  </ion-menu>
  <!-- daterange Menu end-->
  <!-- signature Menu start-->
  <ion-menu side="right" type="overlay" swipeEnabled=false [content]="mycontent" id="signaturedate">
    <ion-header>
      <ion-row class="header-row">
        <ion-row class="header-title">
          <ion-col col-1 (click)="closeSelectedMenu()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-col>
          <span class="other-menu">
            Signature Date
          </span>
          <ion-col col-1 (click)="closeMenu()">
            <div class="right-icon">
              Done
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-header>

    <ion-content>
      <ion-calendar [(ngModel)]="menus[4].items[0]" [options]="optionsPicker" [type]="type" [format]="'YYYY-MM-DD'"
        (onChange)="onChangeCalendar($event,4)">
      </ion-calendar>
    </ion-content>
  </ion-menu>
  <!-- signature Menu end-->

  <!-- start date Menu start-->
  <ion-menu side="right" type="overlay" swipeEnabled=false [content]="mycontent" id="startdate">
    <ion-header>
      <ion-row class="header-row">
        <ion-row class="header-title">
          <ion-col col-1 (click)="closeSelectedMenu()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-col>
          <span class="other-menu">
            Start Date
          </span>
          <ion-col col-1 (click)="closeMenu()">
            <div class="right-icon">
              Done
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-header>

    <ion-content>
      <ion-calendar [(ngModel)]="menus[5].items[0]" [options]="optionsPicker" [type]="type" [format]="'YYYY-MM-DD'"
        (onChange)="onChangeCalendar($event,5)">
      </ion-calendar>
    </ion-content>
  </ion-menu>
  <!-- start date Menu end-->
  <!-- end date Menu start-->
  <ion-menu side="right" type="overlay" swipeEnabled=false [content]="mycontent" id="enddate">
    <ion-header>
      <ion-row class="header-row">
        <ion-row class="header-title">
          <ion-col col-1 (click)="closeSelectedMenu()">
            <ion-icon name="ios-arrow-back"></ion-icon>
          </ion-col>
          <span class="other-menu">
            Start Date
          </span>
          <ion-col col-1 (click)="closeMenu()">
            <div class="right-icon">
              Done
            </div>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-header>

    <ion-content>
      <ion-calendar [(ngModel)]="menus[6].items[0]" [options]="optionsPicker" [type]="type" [format]="'YYYY-MM-DD'"
        (onChange)="onChangeCalendar($event,6)">
      </ion-calendar>
    </ion-content>
  </ion-menu>
  <!-- end date Menu end-->
</div>
<!--header & content -->
<ion-header>
  <ion-row class="header-row">
    <ion-row class="header-title">
      <ion-col col-1>
        <ion-icon name="ios-arrow-back" (click)="navCtrl.pop()"></ion-icon>
      </ion-col>
      <span>
        {{locationItem.title}}
      </span>
      <ion-col col-1 (click)="openMenu('filter')">
        <div class="right-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
            <g id="Group_714" data-name="Group 714" transform="translate(-837 -1010)">
              <g id="Icon-28_placeholder" transform="translate(372 119)">
                <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28" transform="translate(465 891)"
                  fill="none" />
              </g>
              <path id="Path_18" data-name="Path 18" d="M18.911.525a.777.777,0,0,1-.188.942L12.086,8.1v9.989a.8.8,0,0,1-.525.794.948.948,0,0,1-.337.067.8.8,0,0,1-.606-.256L7.172,15.253a.828.828,0,0,1-.256-.606V8.1L.279,1.467A.779.779,0,0,1,.091.525.806.806,0,0,1,.885,0H18.117A.8.8,0,0,1,18.911.525Z"
                transform="translate(841.49 1015)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1.5" />
            </g>
          </svg>
        </div>

      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row class="header-detail-wrap">
    <ion-row class="header-detail" *ngFor="let detail of headerDtail">
      <ion-col col-6>
        <ion-label class="header-detail-title">{{detail[0].title}}</ion-label>
        <ion-label class="header-detail-des">{{detail[0].des}}</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label class="header-detail-title">{{detail[1].title}}</ion-label>
        <ion-label class="header-detail-des">{{detail[1].des}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-header>

<ion-content #mycontent padding>
  <ion-row class="item-row big" *ngIf="!enableShowGas" (click)="showGasItems()">
    <div class="item-count">{{gasItems.length}}</div>
    <!-- big gas icon -->
    <div class="item-mark">
      <svg xmlns="http://www.w3.org/2000/svg" width="112" height="112" viewBox="0 0 112 112">
        <g id="Group_622" data-name="Group 622" transform="translate(-132 -276)">
          <g id="Ellipse_1" data-name="Ellipse 1" transform="translate(132 276)" fill="none" stroke="#e5e9ec"
            stroke-width="1">
            <circle cx="56" cy="56" r="56" stroke="none" />
            <circle cx="56" cy="56" r="55.5" fill="none" />
          </g>
          <g id="Group_625" data-name="Group 625" transform="translate(162.592 297.565)">
            <path id="Path_9" data-name="Path 9" d="M49.985,45.418C50.554,28.89,35.194,8.792,23.209.16A1.211,1.211,0,0,0,21.838.139a1.236,1.236,0,0,0-.549,1.26c.8,3.906-.527,11.236-11.837,23.752-7.7,8.527-10,15.982-9.347,22.114,3.144,30.2,48.972,25.307,49.879-1.848Z"
              transform="translate(0 0)" fill="#2f5597" fill-rule="evenodd" />
            <path id="Path_10" data-name="Path 10" d="M73.521,145.682c.57-9.1-5.659-19.78-12.184-26.711a3.734,3.734,0,0,0-3.21-1.18,3.236,3.236,0,0,0-2.64,1.917c-1.71,3.75-5.152,8.194-8.615,12.028-5.321,5.856-6.99,11-6.694,15.188,1.5,20.792,32.2,17.421,33.343-1.243Z"
              transform="translate(-31.689 -93.213)" fill="#1eb8e3" fill-rule="evenodd" />
            <path id="Path_11" data-name="Path 11" d="M77.458,224.706c-5.667.021-11.607-6.509-8.237-14.43,2.38-5.6,6.973-7.415,9.248-11.67a.6.6,0,0,1,1.116.147c.758,3.771,2.254,4.3,3.6,8.215a.562.562,0,0,0,.548.4.6.6,0,0,0,.569-.379,18.928,18.928,0,0,0,1.159-4.7.6.6,0,0,1,.485-.548.638.638,0,0,1,.653.316c5.014,10.217,3.75,20.918-9.142,22.645Z"
              transform="translate(-53.824 -156.775)" fill="#fff" fill-rule="evenodd" />
          </g>
        </g>
      </svg>
    </div>
    <ion-row class="des-arrow">
      <span>Gas Contracts</span>
      <!--arrow  -->
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-row>
  </ion-row>

  <ion-row class="item-row big" *ngIf="!enableShowElectricity" (click)="showElectricityItems()">
    <div class="item-count">{{electricytiItems.length}}</div>
    <!-- big electricity icon -->
    <div class="item-mark">
      <svg xmlns="http://www.w3.org/2000/svg" width="112" height="112" viewBox="0 0 112 112">
        <g id="Group_623" data-name="Group 623" transform="translate(-132 -492)">
          <g id="Ellipse_2" data-name="Ellipse 2" transform="translate(132 492)" fill="none" stroke="#e5e9ec"
            stroke-width="1">
            <circle cx="56" cy="56" r="56" stroke="none" />
            <circle cx="56" cy="56" r="55.5" fill="none" />
          </g>
          <g id="Group_626" data-name="Group 626" transform="translate(169.023 511.012)">
            <path id="Path_12" data-name="Path 12" d="M6.935,73.507l30.622-39.1a1.922,1.922,0,0,0,.221-2.053,1.832,1.832,0,0,0-1.7-1.095H28.456a1.787,1.787,0,0,1-1.483-.753,1.965,1.965,0,0,1-.354-1.665l6.62-27.235A1.317,1.317,0,0,0,32.575.128,1.207,1.207,0,0,0,31.047.47L.4,39.589A1.972,1.972,0,0,0,.16,41.642a1.832,1.832,0,0,0,1.7,1.095H9.459a1.787,1.787,0,0,1,1.483.753,1.949,1.949,0,0,1,.354,1.665L4.743,72.366a1.3,1.3,0,0,0,.664,1.483,1.207,1.207,0,0,0,1.528-.342Z"
              transform="translate(0 0)" fill="#ffb300" fill-rule="evenodd" />
            <path id="Path_13" data-name="Path 13" d="M52.9.3,36.525,31.5a3.936,3.936,0,0,0,.066,3.832,3.624,3.624,0,0,0,3.231,1.893h6.241a1.176,1.176,0,0,1,1.085.661,1.343,1.343,0,0,1-.022,1.323L26.3,74.2a1.2,1.2,0,0,0,1.129-.479l30.61-39.1a1.922,1.922,0,0,0,.221-2.053,1.831,1.831,0,0,0-1.7-1.095H48.942a1.786,1.786,0,0,1-1.483-.753,1.966,1.966,0,0,1-.354-1.665L53.723,1.851A1.317,1.317,0,0,0,53.059.368,1.062,1.062,0,0,0,52.9.3Z"
              transform="translate(-20.482 -0.24)" fill="#fc8f3b" fill-rule="evenodd" />
          </g>
        </g>
      </svg>
    </div>
    <ion-row class="des-arrow">
      <span>Electricity Contracts</span>
      <!--arrow  -->
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-row>
  </ion-row>

  <ion-row class="item-row" *ngFor="let detailItem of detailItems| gasElectricityFilter:[enableShowGas,enableShowElectricity]"
    (click)="goEntitiesMoreDetail(detailItem)">
    <ion-col col-9>
      <div class="item-des">
        <ion-label class="loc-row">{{locationItem.loc}} {{detailItem.title}}</ion-label>
        <ion-label class="note-row">{{detailItem.note}}</ion-label>
      </div>
    </ion-col>

    <!-- gas icon -->
    <ion-col col-2 *ngIf="detailItem.kind=='gas'">
      <ion-row>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
          <g id="Group_685" data-name="Group 685" transform="translate(-931 -1992)">
            <g id="Icon-28_placeholder" transform="translate(466 1101)">
              <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28" transform="translate(465 891)"
                fill="none" />
            </g>
            <g id="Group_679" data-name="Group 679" transform="translate(936.592 1994.565)">
              <path id="Path_9" data-name="Path 9" d="M16.536,14.984C16.725,9.516,11.643,2.867,7.678.011A.4.4,0,0,0,7.225,0a.409.409,0,0,0-.181.417c.265,1.292-.175,3.717-3.916,7.858C.579,11.1-.182,13.566.035,15.6c1.04,9.991,16.2,8.372,16.5-.611Z"
                transform="translate(0 0)" fill="#2f5597" fill-rule="evenodd" />
              <path id="Path_10" data-name="Path 10" d="M51.187,127c.189-3.011-1.872-6.544-4.031-8.837a1.235,1.235,0,0,0-1.062-.39,1.071,1.071,0,0,0-.873.634,17.579,17.579,0,0,1-2.85,3.979c-1.76,1.937-2.312,3.638-2.215,5.025.5,6.879,10.654,5.763,11.031-.411Z"
                transform="translate(-37.348 -109.683)" fill="#1eb8e3" fill-rule="evenodd" />
              <path id="Path_11" data-name="Path 11" d="M71.289,207.028a3.3,3.3,0,0,1-2.725-4.774c.788-1.854,2.307-2.453,3.059-3.861a.2.2,0,0,1,.369.049c.251,1.247.746,1.422,1.192,2.718a.186.186,0,0,0,.181.132.2.2,0,0,0,.188-.125,6.262,6.262,0,0,0,.383-1.554.2.2,0,0,1,.16-.181.211.211,0,0,1,.216.1c1.659,3.38,1.241,6.92-3.025,7.492Z"
                transform="translate(-63.471 -184.596)" fill="#fff" fill-rule="evenodd" />
            </g>
          </g>
        </svg>
      </ion-row>
    </ion-col>
    <!-- electricity icon -->
    <ion-col col-2 *ngIf="detailItem.kind=='electricity'">
      <ion-row>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
          <g id="Group_688" data-name="Group 688" transform="translate(-917 -1945)">
            <g id="Icon-28_placeholder" transform="translate(452 1054)">
              <rect id="Rectangle_307" data-name="Rectangle 307" width="28" height="28" transform="translate(465 891)"
                fill="none" />
            </g>
            <g id="Group_683" data-name="Group 683" transform="translate(925.023 1947.012)">
              <path id="Path_12" data-name="Path 12" d="M2.3,24.485,12.5,11.458a.64.64,0,0,0,.074-.684A.61.61,0,0,0,12,10.409H9.467a.6.6,0,0,1-.494-.251A.655.655,0,0,1,8.854,9.6L11.06.529a.439.439,0,0,0-.221-.494.4.4,0,0,0-.509.114L.119,13.183a.657.657,0,0,0-.081.684.61.61,0,0,0,.568.365H3.137a.6.6,0,0,1,.494.251.649.649,0,0,1,.118.555L1.565,24.1a.435.435,0,0,0,.221.494.4.4,0,0,0,.509-.114Z"
                transform="translate(0 0)" fill="#ffb300" fill-rule="evenodd" />
              <path id="Path_13" data-name="Path 13" d="M35.164.3,29.707,10.7a1.311,1.311,0,0,0,.022,1.277,1.208,1.208,0,0,0,1.077.631h2.08a.392.392,0,0,1,.361.22.448.448,0,0,1-.007.441L26.3,24.925a.4.4,0,0,0,.376-.16l10.2-13.027a.641.641,0,0,0,.074-.684.61.61,0,0,0-.568-.365H33.844a.6.6,0,0,1-.494-.251.655.655,0,0,1-.118-.555L35.437.817a.439.439,0,0,0-.221-.494A.354.354,0,0,0,35.164.3Z"
                transform="translate(-24.376 -0.288)" fill="#fc8f3b" fill-rule="evenodd" />
            </g>
          </g>
        </svg>
      </ion-row>
    </ion-col>
    <!--arrow  -->
    <ion-col col-1>
      <ion-row>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>