page-auctionincreatecontract {
    ion-content {
        background: white!important;
        .c-phone {
            padding-left: 10px;
        }
        .step-btn {
            background: #E9EBED;
            padding: 0px 10px 20px 10px;
            margin-bottom: 0;
            ion-label {
                color: #A3ADB7;
                font-size: 12px;
                font-family: Montserrat-Medium;
                text-align: center;
                margin-top: 0;
                padding-top: 20px;
            }
        }
    }
    .header-detail {     
        .big {
            color: #40D4FD;
            font-family: Montserrat-Medium !important;
            font-size: 42px !important;
        }
        .top {
            padding-top: 10px;
            color: #40D4FD;
        }
        .center{
            text-align: center!important;
            width: 75%;
            margin: auto;
            font-size: 12px;
            line-height: 14px;
        }
    }
}