page-termsandconditions {
    ion-content {
        background-color: white !important;
        .terms-cond {
            padding: 15px;
            ion-label {
                font-size: 12px;
                font-family: Montserrat-Bold;
            }
            p {
                font-size: 12px;
                font-family: Montserrat-Medium;
            }
            .sub-des {
                span {
                    padding-left: 15px;
                }
            }
        }
        .agree-btn {
            background: #E9EBED;
            width: 100%;
            padding: 15px;
            padding-top: 0;
        }
    }
}